@charset "UTF-8";

@font-face {
	font-family: PottaOne-Regular;
	src: url(PottaOne-Regular.ttf);
}

h1 {
	background-color: blue;
	background-size: 5px 10px;
	text-align: center;
	color: yellow;
	font-family: 'PottaOne-Regular';
}

#p1 {
	width: 450px;  
    box-sizing: content-box;
    display: inline-block;
    background-color: #128066;
    color: white;
    font-size: 12pt;
    padding-bottom: 5px;
    line-height: 1.5;
}

span {
	background: black; 
	color: yellow;
}

#p2 {
	width: 1100px; 
	box-sizing: content-box;
	display: inline-block;
	position: relative;
	font-size: 12pt;
	line-height: 2;
	bottom: 20px;
}

#p3{
	font-size: 18pt;
	font-family: 'Coda Caption';
}

@font-face {
	font-family: YuseiMagic-Regular;
	src: url(YuseiMagic-Regular.ttf);
}

#p4{
	font-size: 16pt;
	font-family: 'YuseiMagic-Regular';
}